<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:80%;vertical-align:middle">
              <h1>
                Yuanhao Cai
              </h1>
              <p>I am currently a 1st year PhD student in the department of <a href="https://www.cs.jhu.edu/">Computer Science, Johns Hopkins University</a>.
                I am a member of <a href="https://www.cs.jhu.edu/">https://ccvl.jhu.edu/</a>, advised by Bloomberg Distinguished Professor Dr. Alan Yuille.
                Previously, I received my MSE and BSE degree from Tsinghua University in 2023 and 2020.
              </p>
            </td>
            <td style="padding:2.5%;width:20%;max-width:20%">
              <img style="width:100%;max-width:100%" alt="self photo" src="images/cyh.png"/>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <h2>Honor and Award</h2>
          <tr style="padding:0px">
            <td style="padding:2.5%;vertical-align:left">
              <p>
                National Scholarship, Tsinghua University, 2022
              </p>
              <p>
                National Scholarship, Tsinghua University, 2021
              </p>
              <p>
                Scholarship of Academic Progress, Tsinghua University, 2019
              </p>
              <p>
                Scholarship of Scientific and Technological Innovation Excellence, Tsinghua University, 2019
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <h2>Publication</h2>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:0.1%;width:30%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:70%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a>
              {% endif %}
              {% if post.project %}
              / <a href="{{post.project}}">project</a>
              {% endif %}
              {% if post.zhihu %}
              / <a href="{{post.zhihu}}">zhihu</a>
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.leaderboard %}
              / <a href="{{post.leaderboard}}">leaderboard</a>
              {% endif %}
              {% if post.bibtex %}
              / <a href="{{post.bibtex}}">bibtex</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
      </td>
    </tr>
  </table>
</body>

</html>

